
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container-2 {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}
.rounded-circle-1{
    width : 300px;
    height: 300px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    
 }
.container-text {
    font-size: 40px;
    
}

header {
    background-color:rgb(247, 246, 246);
    color:black;
    font-size:15px;
    text-align: center;
    padding: 0 0;
}
.responsive {
    width: 100%;
    height: auto;
  }

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2em 0;
    margin: 1em 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}
ul {
    list-style-type: square;
}
.row {
    display: flex;
  }
  
  .column {
    flex:25%;
    padding: 5px;
  }

  .container-1 {
    position: relative;
    width: 100%;
    max-width: auto; 
  }

  .container-1 img {
    width: 100%;
    height:200px;
  }

  .footer-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    text-align: center;
    padding-bottom: 10px;
    
  }

@media only screen and (max-width: 600px) {
    .container-2 {
        
        display: flex;
        align-items: center;
        padding-left: 0px;
        padding-right: 10px;
        
    }
    .rounded-circle-1 {
        width :200px;
        height: 200px;
    }
    .container-text {
        font-size:18px;
        
    }
    header {
        font-size:15px;
    
    }
    .nav ul li a {
        font-size: 5px;
    }
    .container h2{
        font-size: 18px;
    }
    .container p{
        font-size:12px;
    }
    .container-1 img {
        width: 100%;
        height:150px;
      }
}

  
